@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

* {
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

html {
  font-size: 10px;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Montserrat", arial, sans-serif;
  font-size: $m-size;
  line-height: 1.6;
    color: #0b1a34

}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #d2d2d2;
}
::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}

a {
  color: white
}