.about-me {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  color: white;
  padding-bottom: 15rem;
  padding-top: 2rem;
  
  @media (max-width: 900px) {
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
  }
}

.about-me__content-container {
  align-items: center;
  display: flex;
  width: 100%;

  @media (max-width: 900px) {
    flex-direction: column;
    text-align: center;
  }
}

.about-me__heading {
  font-size: 4.3rem;
  text-align: center;
}

.about-me__img-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 5rem;
  width: 50%;
  
  @media (max-width: 900px) {
    width: 100%;
    padding: 0 2rem;
  }
}

.about-me__img {
  border-radius: 2rem;
  clip-path: circle(47%);
  width: 30rem;
  max-width: 100%;
}

.about-me__text-container {
  font-size: 1.6rem;
  font-weight: 100;
  padding-right: 10rem;
  width: 50%;

  @media (max-width: 900px) {
    margin-top: 2rem;
    padding: 0;
    width: 55rem;
    max-width: 95%;
  }
}
