.welcome-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 2.7rem;
  height: 100vh;
  font-weight: bold;
  line-height: 1.3;
  padding: 0 8rem;
  
  @media (max-width: 900px) {
    align-items: center;
    font-size: clamp( 13px, 3.5vw, 1.7rem);
    gap: 3rem;
    text-align: center;
    line-height: 1.6;
  }
}

.welcome-container--blue {
  color: $secondary-color;
}

.welcome-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 4rem
}