.about-me {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  color: white;
  padding: 6rem 3.6rem 68rem;

  @media (max-width: 1000px) {
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
    padding-bottom: 65rem;
  }

  @media (max-width: 500px) {
    clip-path: none;
    padding-bottom: 40rem;
  }
}

.about-me__heading {
  font-size: 4.8rem;
  margin: 0px;
  margin-bottom: 2rem;
  line-height: normal;
}

.about-me__content-container {
  display: flex;
  margin-top: 7rem;
  max-width: 1360px;
  width: 100%;

  @media (max-width: 1100px) {
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
    margin-top: 2rem;
  }
}

.about-me__img-container {
  align-items: center;
  display: flex;
  justify-content: end;
  width: 50%;

  @media (max-width: 900px) {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    width: 100%;
  }
}

.about-me__img {
  border-radius: 30px 30px 10px 30px;
  width: 60rem;
  max-width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.about-me__text-container {
  padding-left: 6rem;
  width: 50%;
  max-width: 70rem;

  @media (max-width: 1100px) {
    margin-top: 2rem;
    max-width: 80%;
    padding: 0;
    width: auto;
  }

  @media (max-width: 500px) {
    max-width: 100%;
  }
}

.about-me__intro {
  font-size: 1.8rem;
}

.about-me__section-title {
  margin: 0;
  font-size: 1.8rem;
}

.about-me__card {
  // border-left: 5px solid $primary-color;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 2rem;

  p {
    margin: 0;
    font-size: 1.5rem;
    color: $secondary-text-color;
  }

  h3 {
    margin: 0;
  }

  a {
    color: $secondary-text-color;
    font-weight: 700;
    text-decoration: none;
  }
}

.about-me__cta-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.about-me__content-link {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 700;
  transition: ease 0.3s;

  &:hover {
    opacity: 50%;
  }
}
