.about-me {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  color: white;
  padding: 10rem 2rem 68rem;

  @media (max-width: 1000px) {
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
    padding-bottom: 65rem;
  }

  @media (max-width: 500px) {
    clip-path: none;
    padding-bottom: 40rem;
  }
}

.about-me__heading {
  text-align: center;
  max-width: 80rem;
  font-size: 4.8rem;
  margin: 0px auto 2rem;
  line-height: normal;

  @media (max-width: 1280px) {
    font-size: clamp(3.2rem, 4vw, 4rem);
  }
}

.about-me__subheading {
  font-size: 1.8rem;
  max-width: 80rem;
  margin: auto;
  text-align: center;
}

.about-me__content-container {
  display: flex;
  margin-top: 12rem;
  margin: 12rem auto 8rem;
  max-width: 1320px;
  width: 100%;
  align-items: center;

  @media (max-width: 1280px) {
    // text-align: center;
    flex-direction: column;
    margin-top: 6rem;
    margin-bottom: 0rem;
  }

  @media (max-width: 600px) {
    margin-bottom: 0rem;
  }
}

.meet-your-dev--mobile {
  display: none;
  @media (max-width: 1280px) {
    display: block;
    font-size: clamp(2.4rem, 5vw, 3rem);
    text-align: center;
  }
}

.meet-your-dev--desktop {
  @media (max-width: 1280px) {
    display: none;
  }
}

.about-me__img-container {
  align-items: center;
  display: flex;
  justify-content: end;
  width: 100%;
  max-width: 60rem;

  @media (max-width: 1280px) {
    margin-bottom: 2rem;
    height: 52rem;
    overflow: hidden;
    width: auto;
    border-radius: clamp(1rem, 10vw, 6.25rem);
    border-bottom-right-radius: 1rem;
  }
}

.about-me__img {
  border-radius: clamp(1rem, 10vw, 6.25rem);
  border-bottom-right-radius: 1rem;
  width: 60rem;
  max-width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

  @media (max-width: 1280px) {
    height: 100%;
    object-fit: cover;
  }
}

.about-me__image-text-container {
  position: absolute;
  bottom: 2.4rem;
  right: 2.4rem;
  color: $secondary-text-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.8rem;
  background-color: #fff;
  width: 80%;
  max-width: 30.4rem;
  box-sizing: border-box;
  padding: 2.4rem;
  text-align: left;
  gap: 1.5rem;
  
  @media (max-width: 1280px) {
    bottom: 1.5rem;
    right: 1.5rem;
  }

  @media (max-width: 500px) {
    bottom: 1rem;
    right: 1rem;
    padding: 2rem;
    max-width: 25rem;
  }
}

.about-me__image-text-name {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.2;

  @media (max-width: 500px) {
    font-size: 1.6rem;
  }
}

.about-me__image-text-job {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.2;

  @media (max-width: 500px) {
    font-size: 1.3rem;
  }
}

.about-me__image-text-image {
  display: block;
  height: 3rem;
  width: auto;

  @media (max-width: 500px) {
    height: 2.5rem;
  }
}

.about-me__text-container {
  padding-left: 6rem;
  width: 100%;

  @media (max-width: 1280px) {
    margin-top: 2rem;
    max-width: 70rem;
    padding: 0;
    width: auto;
    text-align: center;
  }
}

.about-me__section-title {
  margin: 0;
  font-size: 1.8rem;
  display: inline;
}

.about-me__card {
  // border-left: 5px solid $primary-color;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  margin-bottom: 2rem;

  p {
    margin: 0;
    font-size: 1.5rem;
    color: $secondary-text-color;
  }

  h3 {
    margin: 0;
  }

  a {
    color: $secondary-text-color;
    font-weight: 700;
    text-decoration: none;
  }

  @media (max-width: 1280px) {
    margin-bottom: 4rem;
  }
}

.about-me__card--get-started {
  @extend .about-me__card;

  margin: auto;
  max-width: 80rem;

  @media (max-width: 1280px) {
    max-width: 70rem;
    text-align: center;
  }
}

.about-me__cta-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.about-me__content-link {
  font-size: 1.8rem;
  text-decoration: none;
  font-weight: 700;
  transition: ease 0.3s;

  &:hover {
    opacity: 50%;
  }
}
