.cta-btn {
  border-image: linear-gradient(135deg,
      $primary-color 0%,
      $secondary-color 100%);
  border-image-slice: 1;
  border-style: solid;
  border-width: 2px;
  color: $secondary-color;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.8rem $m-size;
  position: relative;
  text-decoration: none;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
  width: 190px;

  &::after {
    background-image: linear-gradient(135deg,
        $primary-color 0%,
        $secondary-color 100%);
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    width: 0px;
    z-index: -1;
  }

  &:hover {
    color: white;

    &::after {
      width: 100%;
    }
  }
}

.see-live-button {
  font-size: 1.6rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.get-in-touch-button {
  background: none;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1;
  margin-top: 2rem;
  padding: 0.8rem $l-size;
  position: relative;
  text-decoration: none;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    background: white;
    bottom: 0;
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    width: 0px;
    z-index: -1;
  }

  &:hover {
    color: $secondary-color;
    z-index: 3;

    &::after {
      width: 100%;
    }
  }
}

.project__see-live-button-container {
  align-items: center;
  display: flex;
  height: 35.2px;
  justify-content: center;
}