.contact {
  background-image: linear-gradient(
    135deg,
    $primary-color 0%,
    $secondary-color 100%
  );
  color: white;
  margin-top: -10rem;
  padding: 3rem 0 6rem 0;
  text-align: center;

  @media (max-width: 900px) {
    padding: 2rem 0 4rem;
  }
}

.contact__heading {
  font-size: 4.5rem;

  @media (max-width: 900px) {
    font-size: clamp(2.5rem, 4.5vw, 4.5rem);
  }
}

.contact__email {
  font-size: 2rem;
  padding: 0 1rem;

  @media (max-width: 900px) {
    font-size: clamp(1.5rem, 2.1vw, 1.8rem);
  }
}
