.project-list {
  padding: 10rem 2rem 0;
}

.project-list__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 6rem;
  max-width: 1360px;

  @media (max-width: 1000px) {
    margin: 5rem auto;
    max-width: 100%;
    width: 700px;
    text-align: center;
  }

  @media (max-width: 500px) {
    margin-top: 5rem;
  }
}

.project-list__heading { 
  text-align: center;
}