.project__container {
  display: flex;
  margin-bottom: 10vw;
  padding: 0 2rem;
  width: 100%;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.project__info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4vw;
  width: 37%;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.project__img-container {
  margin-top: 2rem;
  width: 63%;

  @media (max-width: 900px) {
    margin-top: 5rem;
    width: 100%;
  }

  :hover {
    box-shadow: 20px 20px 15px #aaaaaa;
    transform: scale(1.05);
    transition: all ease-in-out 0.3s;
  }
}

.project__img {
  box-shadow: 10px 10px 5px #aaaaaa;
  transition: all ease-in-out 0.3s;
  width: 100%;
}

.project__button-container {
  align-items: center;
  display: flex;
  gap: 1rem;
  position: relative;
  transition: top ease 0, 5s;
}
