.project__container {
  display: flex;
  margin-bottom: 10vw;
  padding: 0 2rem;
  width: 100%;
  
  h3 {
    display: inline;
  }

  @media (max-width: 900px) {
    flex-direction: column;
  }

  @media (max-width: 500px) {
    text-align: center;
  }
}

.project__info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 4vw;
  width: 37%;

  p {
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 4rem;
  }

  @media (max-width: 900px) {
    padding-right: 0;
    width: 100%;
  }
}

.project__img-container {
  margin-top: 2rem;
  width: 63%;

  @media (max-width: 900px) {
    margin-top: 5rem;
    width: 100%;
  }

  :hover {
    box-shadow: 15px 15px 15px 5px #aaaaaa;
    transform: scale(1.05);
    transition: all ease-in-out 0.3s;
  }
}

.project__img {
  box-shadow: 6px 6px 5px 3px #aaaaaa;
  transition: all ease-in-out 0.3s;
  width: 100%;
}

.project__button-container {
  align-items: center;
  display: flex;
  gap: 1rem;
  position: relative;
  transition: top ease 0, 5s;

  @media (max-width: 900px) {
    justify-content: center;
  }
}