.project-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 6rem;
  max-width: 1360px;
  padding: 10rem $m-size 0;

  @media (max-width: 900px) {
    margin: 3rem auto;
    max-width: 100%;
    padding: 0 3rem 12rem;
    width: 700px;
  }

  @media (max-width: 500px) {
    margin-top: 5rem;
    padding: 0 1rem 12rem;
  }
}