.services {
  padding: 0 2rem;
  margin-top: -60rem;
  z-index: 99;
  position: relative;

  @media (max-width: 500px) {
    margin-top: -35rem;
  }

  ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(253px, 100%), 1fr));
    max-width: 100%;
    margin: 1rem auto;
  }

  li {
    display: flex;
    align-items: center;
    text-align: start;
  }
}

.services__container {
  background-color: white;
  max-width: 1320px;
  margin: auto;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1060px) {
    border-radius: 1rem;
    overflow: hidden;
    max-width: 70rem;
  }
}

.services__heading {
  color: white;
  margin: 0;
  padding: 4rem 0;
  text-align: center;
}

.services__grid {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 1px solid #e6ecf8;
  max-width: 100%;

  @media (max-width: 1060px) {
    display: flex;
    flex-direction: column;
  }
}

.services__grid-item {
  text-align: start;
  border-right: 1px solid #e6ecf8;
  padding: 20px 35px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;

  // Target the middle div (2nd child)
  > div:nth-child(2) {
    flex-grow: 1;
  }

  @media (max-width: 1060px) {
    border-right: none;
    border-bottom: 1px solid #e6ecf8;
    padding-bottom: 5rem;
    padding-top: 3rem;
  }

  @media (max-width: 400px) {
    padding: 3rem 2rem 2rem;
  }

  p {
    max-width: 100%;
  }

  h4 {
    font-size: 1.8rem;
  }
}

// .services__features-container {
//   display: inline;
//   margin: auto;
// }

.tick-icon {
  margin-right: 1.5rem;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  fill: #10b981;
  color: #10b981;
}

.services__grid-item:last-child {
  border-right: none;
}

.services__sub-heading {
  font-weight: 700;
}
