.welcome-container {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  gap: 6rem;
  height: 100vh;
  justify-content: center;
  line-height: 1.3;
  padding: 8rem;
  position: relative;

  @media (max-width: 900px) {
    align-items: center;
    gap: 6rem;
    line-height: 1.6;
    text-align: center;
  }

  @media (max-width: 510px) {
    padding: 3rem;
  }

  h1 {
    margin: 0
  }

  @media (max-width: 330px) {
    padding-top: 0;
  }
}

.text-blue {
  background: linear-gradient(135deg,
      $primary-color 0%,
      $secondary-color 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.welcome__heading-grow {
  display: inline-block;
}

.welcome-buttons-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.welcome-button-container {
  display: flex;
}

.welcome-scroll-button-container {
  position: absolute;
  bottom: 4rem;
  left: 50%;
  right: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 330px) {
    bottom: 1rem;
  }
}

.welcome-scroll-button {
  position: relative;
  display: flex;
  height: 5rem;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;

  &:hover>.welcome-scroll-button-image {
    opacity: 40%;
  }
}

.welcome-scroll-button-image {
  animation: jumpInfinite 1.5s infinite;
  width: 40px;
  opacity: 100%;
  transition: all .2s ease-in-out;
}